<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Simple Webpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <% include partials/main-nav %>
    <div id="content">
      <% include pages/cover %>
    </div>
    <% include partials/footer %>
  </body>
</html>