:root {
  /* colors */
  --primary: #6b7fd7;
  --primary-dark: #4c2a85;
  --primary-light: #bcedf6;
  --general-dark: #320e3b;
  --general-light: #ddfbd2;
  --secondary: black;
  --background: white;
  /* sizes */
  --nav-height: 70px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

a {
  color: #00b7ff;
}

.page {
  padding: 15px 10px 10px 10px;
  min-height: 100vh;
}
