<div id="about" class="page text-image">
    <img src="img/test-image.png" alt="<%= about.title %>">
    <div class="page-content">
    <h1><%= about.title %></h1>
        <div class="content">
            <%- about.content %>
        </div>
        
    </div>
</div>