<div id="cover" class="page">
<div class="page-content">
    <%- cover.content %>
</div>
    <button id="start-button" type="button" onclick="location.href='<%= mainNav[0].route %>'">
    <i class="fas fa-angle-double-down 3x"></i>
    </button>
</div>